@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

#main {
    width: 100%;
    height: 100%;
}

#nav {
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

#nav img {
    height: 60px;
}

#nav-part2 {
    display: flex;
    gap: 40px;
}

#nav-part2 h3 {
    font-size: 0.9vw;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
}



#nav-part3 button {
    font-size: 0.8vw;
    text-transform: uppercase;
    margin-left: 1vw;
    padding: 10px 20px;
    font-weight: 700;
}

#nav-part3 #first {
    background-color: transparent;
    border: none;
    color: white;
}

#nav-part3 #second {
    border: none;

}

#main h1 {
    color: #fff;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
}

#main h1:nth-child(2) {
    margin-top: 50px;
}

#main h1 span {
    font-size: 1.5vw;
    font-weight: 600;
    background-color: rgb(180, 22, 22);
    padding: 13px 22px;
    border-radius: 50px;
    margin: 0px 30px;
}

#main #left-img {
    width: 200px;
    object-fit: cover;
    position: absolute;
    top: 17%;
    left: 10%;
    border-radius: 30px;
}

#main #left-bottom {
    width: 300px;
    object-fit: cover;
    position: absolute;
    bottom: 5%;
    left: 20%;
    border-radius: 30px;
}

#main #right-img {
    width: 200px;
    height: 230px;
    object-fit: cover;
    position: absolute;
    bottom: 3%;
    right: 12%;
    border-radius: 30px;
}

#main #right-top {
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 20%;
    right: 10%;
    border-radius: 30px;
}

h5 {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1.2vw;
    font-weight: 500;
}